# Build output
bin/
obj/

# Visual Studio
.vs/

# VS Code settings
.vscode/

# User-specific files
*.user
*.suo

# Debug symbols
*.pdb

# C++ / ASI build output
Release/
Debug/
x86/
x64/
*.obj
*.ilk
*.tlog
*.lastbuildstate